/*************************************MEDIA QUERYS*********************************/
@media screen and (min-width: 0px) and (max-width: 575px) {
  .footer__europe-mobile {
    flex-direction: column !important;
    justify-content: space-around !important;
  }

  header .header__logo,
  header .header__menu {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .footer__europe-mobile {
    flex-direction: column !important;
    justify-content: space-between !important;
  }

  header .header__logo,
  header .header__menu {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .footer__europe-mobile {
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  header .header__logo,
  header .header__menu {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}

/*MEDIA QUERY PARA RESOLUCONES GRANDES*/
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .footer__europe-mobile {
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  header .header__logo,
  header .menu,
  header .show {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1650px) {
  .footer__europe-mobile {
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  header .header__logo,
  header .menu,
  header .show {
    padding-left: 230px !important;
    padding-right: 230px !important;
  }
}

@media screen and (min-width: 1651px) and (max-width: 1980px) {
  .footer__europe-mobile {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
}

.footer__europe-mobile {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 16px !important;
}

.d-flex {
  display: flex;
}

.c-h4 {
  text-decoration: underline;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 71, 92);
}

header {
  padding-top: 10px;
  background-color: white;
  /*tipo de letra general para todo el componente del header*/
  // font-family: "Open Sans", ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-family: 'Open Sans', sans-serif !important;
}

header .header__logo {
  border-bottom: 1px solid #92949B !important;
  padding-bottom: 8PX;
}

.opendata__header {
  background-image: url(../../../../assets/img/opendata-background-header.jpg);
  background-color: #ededec;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 169px;
}

.opendata__header__logo {
  display: flex;
  margin: auto 0;
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.c-ul--no-bullets li {
  list-style: none;
  padding-bottom: 8px !important;
}

.c-ul--no-bullets {
  padding-left: 0px;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.c-link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-semibold {
  font-weight: 400px !important;
}

/*Estilos para los links como titulo o submenú*/
.c-link:hover {
  color: #00607a;
  text-decoration: underline;
}
.c-link:focus, .nav-item-item:focus {
  background-color: #fdcb33;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: #1f2331;
  box-shadow: 0 0 transparent, 0 0 transparent, inset 0 -2px 0 0 #1f2331;
}
.c-link:focus-within, .nav-item-item:focus-within {
  background-color: #fdcb33;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: #1f2331;
  box-shadow: 0 0 transparent, 0 0 transparent, inset 0 -2px 0 0 #08090c;
}
.nav-item-item {
  font-family: inherit;
  color: #00607a;
  font-weight: 700;
  text-decoration: underline;
  list-style: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

.justify-content-end {
  justify-content: end;
}

.align-items-stretch {
  align-items: stretch;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.site-title {
  margin-bottom: 0px !important;
}

/* Clase para el estado oculto del menú */
.menu {
  opacity: 0;
  transform: scaleY(0);
  /* Inicialmente colapsado verticalmente */
  transform-origin: top;
  /* Ancla la transformación desde la parte superior */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  /* Transiciones para transformación y opacidad */
  display: none;
  /* Oculto por defecto */
}

/* Clase para el estado visible del menú */
.show {
  opacity: 1;
  transform: scaleY(1);
  /* Escala vertical completa */
  display: block;
  border-bottom: 1px solid #92949B;
  /* Mostrar como bloque */
}

.c-button:focus {
  background-color: #fdcb33;
  border-color: #fdcb33;
  box-shadow: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px, #1f2331 0px 0px 0px 3px;
  color: #1f2331;
  border-radius: 5px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
}

.c-button:focus {
  background-color: #fdcb33;
  border-color: #fdcb33;
  box-shadow: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px, #1f2331 0px 0px 0px 3px;
  color: #1f2331;
  outline: 2px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
}

.c-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #00607a;
  border-radius: 2px;

}

.menu-button {
  display: flex;
  align-items: center;
  padding: 7px 15px 7px 8px !important;
  font-size: 14px;
  color: #005366;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  /*tipo de letra general para todo el componente del header*/
  // font-family: "Open Sans", ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-family: 'Open Sans', sans-serif !important;

}

.menu-button:hover {
  background-color: #e6e6e6;
  border: 1px solid #ccc;
}

.arrow {
  margin-left: 5px;
  color: #005366;
}

.c-button--logo:focus {
  background-color: #fdcb33;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: #1f2331;
  box-shadow: 0 0 transparent, 0 0 transparent, inset 0 -2px 0 0 #1f2331;
}

.menu-flex {
  padding-bottom: 20px !important;
}