 <div id= "header"> 
<header >
    <section class="section-header">
      <a href="https://www.aragon.es/" class="logo-dga"> <img src="/static/public/header/images/logo-dga-color.svg" alt="Gobierno de Aragón. Ir a la página principal del portal."> </a>
      <div class="header-menu"  >
        <a href="https://www.aragon.es/-/fondos-europeos-aragon" class="european-flag-head" title="Más información sobre los Fondos Estructurales y de Inversión Europeos y Fondo Next Generation EU en Aragón"> <img class="image" src="/static/public/header/images/flag_europe.svg" alt="Unión Europea"> </a>
        <label for="toggle-1" class="toggle-menu" (click)="openNav()">
          <ul  id="nav-icon3" [ngClass]="{'open': menuActive}">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <strong class="text-open-menu">MENÚ</strong>
          </ul>
        </label>
      </div>
    <input type="checkbox" id="toggle-1">
    <nav>
      <ul>
        <li><a href="#logo">Datos</a>
          <ul class="dropdown-content">
            <li><a href="https://preopendata.aragon.es/datos/catalogo">Banco de datos</a></li>
            <li><a href="https://preopendata.aragon.es/datos/publicadores">Publicadores</a></li>
            <li><a href="https://preopendata.aragon.es/datos/temas">Temas</a></li>
          </ul>
        </li>
         <li><a href="#logo">Servicios</a>
          <ul class="dropdown-content">
            <li><a href="https://preopendata.aragon.es/servicios/landing-datos-enlazados">Datos enlazados</a></li>
            <li><a href="https://preopendata.aragon.es/servicios/landing-aragopedia">Aragopedia</a></li>
            <li><a href="https://preopendata.aragon.es/servicios/landing-presupuestos">Presupuestos</a></li>
            <li><a href="https://preopendata.aragon.es/servicios/analytics">Open Analytics Data</a></li>
            <li><a href="https://preopendata.aragon.es/servicios/landing-open-social-data">Open Social Data</a></li>
            <li><a href="https://preopendata.aragon.es/servicios/landing-open-data-focus">Open Data Focus</a></li>
            <li><a href="https://preopendata.aragon.es/servicios/fianzas-alquileres">Alquileres</a></li>
            <li><a href="https://www.aragon.es/-/la-ciudadania-aragonesa-conversa-con-datos-abiertos">Chatbot</a></li>
          </ul>
        </li>
        <li><a class="" href="#logo">Información</a>
          <ul class="dropdown-content">
            <li><a href="https://preopendata.aragon.es/informacion/conoce-aragon-open-data-y-los-datos-abiertos">Conócenos</a></li>
            <li><a href="https://preopendata.aragon.es/informacion/blog-de-aragon-open-data">Blog</a></li>
            <li><a href="https://preopendata.aragon.es/informacion/herramientas-para-usuarios-as-y-desarrolladores-as">Herramientas y APIs</a></li>
            <li><a href="https://preopendata.aragon.es/informacion/eventos-de-datos-abiertos">Eventos</a></li>
            <li><a href="https://preopendata.aragon.es/informacion/aplicaciones-hechas-con-datos-abiertos-en-aragon-open-data">Aplicaciones</a></li>
            <li><a href="https://preopendata.aragon.es/informacion/colabora-con-tus-propuestas">Colabora</a></li>
            <li><a href="https://preopendata.aragon.es/informacion/terminos-de-uso-licencias">Términos de uso</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>
  </header>
  <section class="content">
      <div class="content-header">
        <div class="content-header-logo">
          <a href="/" class="logo-image"> <img src="/static/public/header/images/logo-opendata.svg" alt="Aragón Open Data" class="img-ch"> </a>
        </div>
      </div> 
  </section>
  <!-- <script>
    angular.element(document).ready(function(){
      $('#nav-icon3').click(function(){
        $(this).toggleClass('open');
      });
    });
  </script> -->
  </div>