
#footer html {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}

#footer ul {
  margin: 0 !important;
  padding: 0 !important;
}

#footer li {
  list-style-type: none !important;
}

#footer .footer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #333;
  font-family: "open_sans-semibold";
  font-size: 16px;
}
#footer .footer::after {
  content: "";
  width: 100%;
  position: relative;
  height: 0.5rem;
  background: #fdcb33;
  background: -moz-linear-gradient(
    left,
    #fdcb33 0%,
    #fdcb33 33%,
    #fa9902 33%,
    #fa9902 66%,
    #f05442 66%,
    #f05442 100%,
    #f1f1f1 100%,
    #f05442 100%,
    #f05442 100%
  );
  background: -webkit-linear-gradient(
    left,
    #fdcb33 0%,
    #fdcb33 33%,
    #fa9902 33%,
    #fa9902 66%,
    #f05442 66%,
    #f05442 100%,
    #f1f1f1 100%,
    #f05442 100%,
    #f05442 100%
  );
  background: linear-gradient(
    to right,
    #fdcb33 0%,
    #fdcb33 33%,
    #fa9902 33%,
    #fa9902 66%,
    #f05442 66%,
    #f05442 100%,
    #f1f1f1 100%,
    #f05442 100%,
    #f05442 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdcb33',endColorstr='#f05442',GradientType=1);
  position: absolute;
  bottom: 0;
}

#footer .footer a {
  color: #fff !important;
}
#footer .footer-policies .listado li.link a {
  font-size: 16px !important;
  font-family: "open_sans-semibold", sans-serif !important;
}

a {
  font-size: 16px !important;
  font-family: "open_sans-semibold", sans-serif !important;
}

/* Policies */
#footer .footer-policies {
  border-bottom: 0.1rem solid #4a4a4a;
  font-family: "open_sans-semibold", sans-serif;
}
#footer .footer-policies .listado {
    list-style: none;
    overflow: hidden;
    width: 100%;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto 30px auto!important;
    padding-top: 30px!important;
}
#footer .footer-policies .listado li {
  padding: 1.25rem 0.7rem 0rem;
  position: relative;
  text-align: left;
  display: inline-block;
}

#footer .footer-policies .listado li link {
  margin-right: 0;
  text-align: center;
}

#footer .footer-policies .listado .logo {
  width: 100%;
  border-bottom: 0.1rem solid #4a4a4a;
  padding: 2rem 1rem;
  height: auto;
  text-align: center;
}

#footer .footer-policies .listado .logo-eu {
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
}

#footer .footer-policies span {
  text-align: center;
}

/* List */
#footer .footer-links.container {
  padding: 0 15px!important;
  margin: 0 auto!important;
  width: 100%!important;
  max-width: 1200px!important;
}
#footer .footer-links .container-list {
  border-bottom: 0.1rem solid #4a4a4a;
}
#footer .footer-links .container-list .footer-title {
  color: #fff;
  font-family: "Signika-Bold", sans-serif;
  font-size: 22px;
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
}

.show {
  display: block;
}

#footer .footer-links .container-list li a {
  text-decoration: none;
  padding: 0.6rem 0;
  display: block;
  line-height: 1.5em;
}

#footer .footer-links .container-list li a:hover {
  text-decoration: underline!important;
}

#footer .button-suscripcion {
  display: none;
}
#footer .footer-button {
  background-color: #3e6d7e;
  border: 0.2rem solid #3e6d7e;
  color: #fff;
  height: 45px;
  text-transform: uppercase;
}

#footer .footer-button :hover {
  background-color: #3e6d7e;
  text-decoration: underline;
}
#footer .footer-contact-list {
  padding: 1.5rem 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.24rem;
  border-bottom: 0;
  text-align: center;
}
#footer .socialmedia {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}
#footer .socialmedia .image {
  width: 35px;
  height: 35px;
  padding: 0;
}

#footer .footer-contact-list .direction {
  text-align: center;
  font-family: "open_sans-semibold", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  line-height: normal;
}

#footer .footer-contact-list .name {
  display: block;
  padding: 1.2rem 0;
  text-align: center;
}
#footer .footer-contact-list .name-container {
  padding: 0 0.9rem;
}
#footer .footer-contact-list a {
  font-family: "open_sans-semibold", sans-serif;
  color: #fff;
}

#footer .footer-contact-list .eu-container {
  display: none;
}

@media screen and (min-width: 768px) {
  #footer .footer-policies .listado .logo-eu {
    display: none;
  }
  #footer .footer-links {
    margin: 20px 5% 0 5%!important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  #footer .footer-links .container-list {
    border-bottom: 0;
  }

  /* Social Media */
  #footer .footer-contact-list {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #footer .footer-contact-list .claim {
    font-size: 10px;
    margin: 0;
    line-height: 15px;
    text-align: center;
    margin-top: 5px;
  }

  #footer .footer-contact-list .claim span {
    display: inline-block;
    font-style: italic;
  }

  #footer .icon-rrss .image {
    width: 40px;
    height: 40px;
  }

  #footer .footer-contact-list .logo {
    display: contents;
    float: unset;
  }

  #footer .footer-contact-list .logo img {
    margin-left: 50px;
  }

  #footer .footer-contact-list ul {
    display: flex;
  }

  #footer .footer-contact-list ul li {
    padding: 10px;
  }

  #footer .footer-contact-list .name {
    display: inline-block;
    padding: 0 1.25rem 0 0;
    text-align: center;
  }
  #footer .footer-contact-list .name-container {
    padding: 0 2rem;
  }
  #footer .footer-contact-list a {
    font-family: "open_sans-semibold", sans-serif;
    color: #fff;
  }

  #footer .footer-contact-list .eu-container {
    display: block;
    padding: 2rem 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  #footer .footer-policies .listado .logo {
    display: none;
  }

  #footer .button-suscripcion {
    display: inline-block;
  }
  #footer .footer-contact-list ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  #footer .container {
    max-width: 1200px;
    padding: 0!important;
  }
  #footer .listado {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 3rem 0 3rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }

  #footer .footer-policies .listado li {
    padding: 0rem 1rem 0rem;
    position: relative;
    display: inline-block;
    text-align: center;
  }
}


@media (max-width: 767px){

  #footer .footer-contact-list {
      display: flex;
      flex-direction: column;
  }

  #footer .socialmedia {
      margin: 10px auto!important;
      justify-content: initial;
  }

  #footer .socialmedia li {
      margin-right: 10px;
  }
  #footer .footer-policies .listado .logo {
    width: 100%;
    border-bottom: 0.1rem solid #4a4a4a;
    padding: 0 1rem 2rem 1rem;
    height: auto;
    text-align: center;
  }

  #footer .footer-policies .listado .logo-eu p{
    text-align: center;
    font-size: 10px!important;
    font-style: italic;
    font-family: "open_sans";
  }

  #footer .footer-policies .listado .logo-eu p.claim{
    margin-top: 10px;
    font-style: normal;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px){

    #footer .footer-policies .listado .logo {
    width: 100%;
    border-bottom: 0.1rem solid #4a4a4a;
    padding: 0 1rem 2rem 1rem;
    height: auto;
    text-align: center;
  }
}