<div id="footer">
  <footer class="footer">

    <div class="footer-links container">
      <div class="container">
        <p class="footer-title">Datos</p>
        <ul class="list-unstyled text-small">
          <li>
            <a href="https://opendata.aragon.es/datos/catalogo">Banco de datos</a>
          </li>
          <li><a href="https://opendata.aragon.es/datos/temas">Temas</a></li>
          <li>
            <a
              href="https://opendata.aragon.es/informacion/herramientas-para-usuarios-as-y-desarrolladores-as/interfaz-de-programacion-de-aplicaciones-apis-y-punto-sparql">APIs
              disponibles</a>
          </li>
        </ul>
      </div>
      <div class="container">
        <p class="footer-title">Servicios</p>
        <ul class="list-unstyled text-small">
          <li>
            <a href="https://opendata.aragon.es/servicios/landing-datos-enlazados">Aragopedia: Datos Enlazados</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/servicios/cobertura">Análisis cobertura</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/servicios/landing-open-data-focus">Open Data Focus</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/servicios/landing-presupuestos">Presupuestos</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/servicios/fianzas-alquileres">Alquileres</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/servicios/analytics">Open Analytics Data</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/servicios/landing-open-social-data">Open Social Data</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/informacion/aplicaciones-hechas-con-datos-abiertos-en-aragon-open-data">Consulta
              todos los servicios</a>
          </li>
        </ul>
      </div>
      <div class="container">
        <p class="footer-title">Información</p>
        <ul>
          <li>
            <a href="https://opendata.aragon.es/informacion/blog-de-aragon-open-data">Blog</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/informacion/eventos-de-datos-abiertos">Eventos</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/informacion/conoce-aragon-open-data-y-los-datos-abiertos">Conócenos</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/informacion/herramientas-para-usuarios-as-y-desarrolladores-as">Herramientas
              para usuarios/as y desarrolladores/as</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/informacion/colabora-con-tus-propuestas">Colabora</a>
          </li>
          <li>
            <a href="https://opendata.aragon.es/informacion/terminos-de-uso-licencias">Términos de uso</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="footer-policies ">
        <ul class="listado container">
          <li class="link">
            <a href="https://opendata.aragon.es/">Inicio</a>
          </li>
          <li class="link">
            <a href="https://www.aragon.es/-/aviso-legal-1">Aviso Legal</a>
          </li>
          <li class="link">
            <a href="https://www.aragon.es/-/detalle-sobre-las-cookies-en-el-portal-de-servicios-del-gobierno-de-aragon">Políticade cookies</a>
          </li>
          <li class="link">
            <a href="https://www.aragon.es/-/politica-de-privacidad">Política de privacidad</a>
          </li>
          <li class="link">
            <a href="https://www.aragon.es/-/accesibilidad">Accesibilidad</a>
          </li>
          <li class="link">
            <a href="https://opendata.aragon.es/mapa-web">Mapa Web</a>
          </li>
          <li >
            <a class="link"href="http://servicios.aragon.es/sus_publico/PublicoServlet?accion=1">Suscripciones</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-contact-list container">

      <div class="info-arag" style="margin-bottom: 12px;">
        <p class="mb-0">Creado por <a href="https://sda.aragon.es/" class="neutral">SDA Servicios Digitales de Aragón</a></p>
      </div>

      <div class="info-arag">
        <p class="mb-0">
          Todo el contenido bajo <a class="neutral" href="https://creativecommons.org/licenses/by/4.0/legalcode.es" rel="license">licencia CC BY 4.0</a>
        </p>
      </div>

      <div class="info-arag">
        <p class="mb-0">
          <a class="neutral-link" href="https://www.aragon.es/">Gobierno de Aragón</a>.
          Edificio Pignatelli. <abbr title="Paseo">Pº</abbr> María Agustín, 36. 50004 - Zaragoza -
          <abbr title="Teléfono">Tel.</abbr>
          <a href="tel:+34 976714000" class="cneutral-link">+34 976714000</a>
        </p>
      </div>

    </div>
    <div class="container">
      <a href="/-/fondos-europeos-gobierno-de-aragon"
        title="Más información sobre los Fondos Estructurales y de Inversión Europeos (Fondos EIE)">
        <img class="image" src="./assets/img/icon-ue.svg"
          alt="Unión Europea" />
      </a>
    </div>
  </footer>
</div>