@import './assets/scss/open-sans';

@font-face {
  font-family: RobotoLight;
  src: url('https://preopendata.aragon.es/static/public/fonts/Roboto-Light.ttf');
}

body{
  background-color: transparent !important;
}
html {
  margin: 0 !important;
}

@media (max-width: 768px) {
  // html {
  //   margin-top: 15% !important;
  // }

  p {
    font-size: 0.8rem !important;
  }

  h1 {
    font-size: 4vh !important;
  }

  h3 {
    font-size: 1.25rem !important;
  }
}

// @media (min-width: 768px) {
//   html {
//     margin-top: 5% !important;
//   }
// }

.no-scroll{
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'RobotoLight', sans-serif;
  line-height: 1;
  margin: 2px 0 20px;
  letter-spacing: 0.1em;
  color: #5ea2ba;
  font-weight: 300;
}

p {
  font-family: 'RobotoLight', sans-serif;
  line-height: 1.3;
  margin: 2px 0 10px;
  letter-spacing: 0.1em;
}

b {
  font-family: 'RobotoLight', sans-serif;
  line-height: 1.3;
  letter-spacing: 0.1em;
  margin: 2px 0 20px;
  font-weight: 700;
}

/* Loading start */
.loadingText {
  margin-top: 10%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
  color: #8e8e8e;
}

.loadingAdvice {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: 300;
  color: #8e8e8e;
}
/* Loading end*/

.img {
  max-height: 30px;
}

.focus p{
  font-family: "OpenSans-Regular", sans-serif !important;
  font-size: 18px !important;
  a{
    word-break: break-word;
    color: #0e7ea6;
  }

}

.focus .view-history-subtitle__description a{
  color: white !important;
  text-decoration: underline !important;
}

@media (min-width: 1200px) {
    .visualTitle{
    padding: 30px 15% !important;
  }

  .pagina div p{
    padding: 30px 15% !important;
  }

  .container {
    padding: 30px 15% !important;
  }

  .view-history-content{
    padding: 30px 15% !important;
  }

}

.container {
  padding: 30px 5%;
}

.visualTitle{
  color: #fff;
  font-family: "Signika-SemiBold",sans-serif;
  width: 100%;
  max-width: 100%;
  position: relative;
  background-color: #333;
  text-transform: capitalize;
  margin: -1px auto;
  padding: 30px 5%;
  font-size: 30px;
  font-weight: 400;
}


.visualTitle::before{
content: '';
background-image: url(https://svgshare.com/i/X0L.svg);
background-repeat: no-repeat;
opacity: .1;
height: 10rem;
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
background-position: -14rem center;
right: 0;
}

.btn-primary{
  background-color: #0e7ea6;
  border-color: transparent;
  &:hover{
    background-color: #0e7ea6;
  }
}

.btn-primary:hover{
  background-color: #0e7ea6;
  border-color: transparent;
  border-radius: 0 !important;
}

.d-block .visualTitle {
  background-color: transparent;
  padding: 0;
}

.card :hover{
  // transform: scale(0);
  .text>span{
      font-size: 16px;
  }
}

.view-history-content{
  padding: 30px 5%;
  background-color: #f2f2f2;
}

.view-history-container{
  background-color: #5ea2ba38;
}

.view-history-category text{
  color: black;
}
